In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Read the data to a pandas data frame
df_MediaP = pd.read_csv('../Data/samples_rotated.csv', sep=',', encoding='utf-8')
df_MediaP.head(5)

,compensation,frame,path,x_0,y_0,z_0,x_1,y_1,z_1,x_2,...,z_29,x_30,y_30,z_30,x_31,y_31,z_31,x_32,y_32,z_32
0,False,1,bachelorarbeiten/nils/data/videos/samples/drin...,2819.72930,3478.09723,-637.87220,2798.79290,3501.68533,-570.743400,2787.42334,...,-608.88220,2931.04340,2977.23150,-425.56670,2670.7283,3034.77905,-821.67800,2925.92737,3009.70250,-602.04540
1,False,2,bachelorarbeiten/nils/data/videos/samples/drin...,2819.81696,3477.57913,-576.33840,2799.21610,3501.69797,-499.956900,2788.07140,...,-492.89044,2936.83130,2849.94507,-247.11397,2711.8135,2968.98620,-737.91990,2935.84796,2872.49146,-506.88210
2,False,3,bachelorarbeiten/nils/data/videos/samples/drin...,2820.54816,3477.10620,-494.81754,2800.31500,3501.68850,-419.451260,2789.46576,...,-507.46440,2943.08950,2835.74410,-143.03336,2733.6471,2875.43695,-768.03930,2940.67725,2824.81440,-445.09890
3,False,4,bachelorarbeiten/nils/data/videos/samples/drin...,2821.19885,3476.67917,-288.78116,2800.80040,3501.61353,-218.547260,2790.02960,...,-291.10700,2942.98630,2815.25775,615.21840,2718.3043,2834.39230,-583.08700,2938.23474,2761.97570,348.65750
4,False,5,bachelorarbeiten/nils/data/videos/samples/drin...,2821.79930,3476.59747,-187.49016,2801.25226,3501.62183,-120.181145,2790.43400,...,-668.87690,2937.05176,2776.60710,-705.14440,2745.7140,2843.17584,-876.62854,2931.52450,2795.31525,-935.07825

In [3]:
# Initialize instances to store the first values
first_value_instance_X = None
first_value_instance_Y = None

# Iterate over column names
for column in df_MediaP.columns:
    if 'x_0' in column:
        # Find the index of the first non-null value in the column
        first_value_index = df_MediaP[column].first_valid_index()
        if first_value_index is not None:
            # Extract the first value from the column
            first_value_instance_X = df_MediaP.at[first_value_index, column]
            # Break the loop once the first value is found
            break

# Iterate over column names
for column in df_MediaP.columns:
    if 'y_0' in column:
        # Find the index of the first non-null value in the column
        first_value_index = df_MediaP[column].first_valid_index()
        if first_value_index is not None:
            # Extract the first value from the column
            first_value_instance_Y = df_MediaP.at[first_value_index, column]
            # Break the loop once the first value is found
            break

# Print the first value instances
print("First value instance X:", first_value_instance_X)
print("First value instance Y:", first_value_instance_Y)

First value instance X: 2819.7293
First value instance Y: 3478.0972300000003

In [4]:
# Find the column names containing "x"
x_columns = [col for col in df_MediaP.columns if 'x' in col]

# Iterate over the x-columns and deduct first_value_instance_X
for column in x_columns:
    df_MediaP[column] -= first_value_instance_X

# Find the column names containing "y"
y_columns = [col for col in df_MediaP.columns if 'y' in col]

# Iterate over the y-columns and deduct first_value_instance_Y
for column in y_columns:
    df_MediaP[column] -= first_value_instance_Y
    
df_MediaP.head(5)

,compensation,frame,path,x_0,y_0,z_0,x_1,y_1,z_1,x_2,...,z_29,x_30,y_30,z_30,x_31,y_31,z_31,x_32,y_32,z_32
0,False,1,bachelorarbeiten/nils/data/videos/samples/drin...,0.00000,0.00000,-637.87220,-20.93640,23.58810,-570.743400,-32.30596,...,-608.88220,111.31410,-500.86573,-425.56670,-149.0010,-443.31818,-821.67800,106.19807,-468.39473,-602.04540
1,False,2,bachelorarbeiten/nils/data/videos/samples/drin...,0.08766,-0.51810,-576.33840,-20.51320,23.60074,-499.956900,-31.65790,...,-492.89044,117.10200,-628.15216,-247.11397,-107.9158,-509.11103,-737.91990,116.11866,-605.60577,-506.88210
2,False,3,bachelorarbeiten/nils/data/videos/samples/drin...,0.81886,-0.99103,-494.81754,-19.41430,23.59127,-419.451260,-30.26354,...,-507.46440,123.36020,-642.35313,-143.03336,-86.0822,-602.66028,-768.03930,120.94795,-653.28283,-445.09890
3,False,4,bachelorarbeiten/nils/data/videos/samples/drin...,1.46955,-1.41806,-288.78116,-18.92890,23.51630,-218.547260,-29.69970,...,-291.10700,123.25700,-662.83948,615.21840,-101.4250,-643.70493,-583.08700,118.50544,-716.12153,348.65750
4,False,5,bachelorarbeiten/nils/data/videos/samples/drin...,2.07000,-1.49976,-187.49016,-18.47704,23.52460,-120.181145,-29.29530,...,-668.87690,117.32246,-701.49013,-705.14440,-74.0153,-634.92139,-876.62854,111.79520,-682.78198,-935.07825

In [5]:
df_MediaP.to_csv('../Data/samples_normalised.csv',
                           sep=",",
                           encoding='utf-8',
                           index=False)